*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html{
    font-size: 62.5%;
    
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.navbar-nav a{
    text-decoration: none;
    color: black;
    margin-left: 2rem;
    font-family: Arial, Helvetica, sans-serif;
   
}
.navbar a:hover{
    color: #0097e6;

  
}
.texts{
    color: #0097e6;
}
  
.far{
    padding-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all linear;
    animation: rotates 2s linear infinite;
    color: #0097e6;
    font-size: large;
}
@keyframes rotates{
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(360deg);
    }

}
.nav-text{
    
    color: black;
    text-decoration: none;
    margin-right: auto;
}

:root{
    --main-bg : #1e272e;
    --main-color: #0097e6;

}

.main_menu{
    background-color: var( --main-bg );

}
.navbar{
    color: #fff;
    background-color: var( --main-bg );
    line-height: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.navbar a{
    color:#fff;
    font-size: 1.6rem;
    font-weight: 300;
    font-family:Arial, Helvetica, sans-serif;
    padding-left: 0.5rem;
    font-weight: 300;
}
.navbar-toggler-icon{
    background-color: rgb(252, 243, 243);
    color:white;
}
.main_header_left{
    height: 70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;

}
.main_header_right{
    height: 70rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: flex-start;

}
.main_header_right{
    justify-content: center;
}


.main_header_left p{
    font-size: 2.5rem;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 1rem;
  

}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0 ;
    text-transform: capitalize;   
    font-family: Arial, Helvetica, sans-serif;
}
.text{
    color: #0097e6;
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #1e272e;
    outline: none;
    justify-content: center;
   
}
.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px #0097e6;
   
}

.temp_form{

  
    margin-bottom: 2rem;
    width: 45%;
    position: relative;
   
    margin: 10rem auto 6rem;

}
.temp_form input[type="text"]
{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background-color: #1e272e;
    color: white;
    outline: none;
    font-size: 1.9rem;
    border-radius: 3rem;
    font-weight: 100;
    
}
::placeholder{
    color: white;

}
.temp_form input[type="submit"]
{
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    border: none;
    background: #0097e6;
    padding: 0 3rem;
    border-radius: 3rem;
    color: white;
    font-size: 1.6rem;


}

.temp_form input[type="submit"]
{
    color: #0097e6;
   
    background: #fff;
}


.temp_information{
    
    width: 30rem;
    height: 30rem;
    margin:auto;
    min-height: 20rem;
    background-color: #1e272e;
    border-radius: 1rem;
    font-family:Arial, Helvetica, sans-serif;
}
.top_layer
{
    width: 100%;
    height: 20%;
    background-color:#1e272e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.35rem;
    border-radius: 1rem;
  
}
.top_layer p{
    padding: 2rem;
    color:#fff;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

}
#day{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 300;

}
#today_date{
    
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1.8rem;
 font-weight: 300;


}
.main_layer{
    background-color:#333c42;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    
}
.main_layer #city_name{
    padding: 2rem 0;
    color:#fff;
    font-weight: 200;
    font-size: 2rem;

}
.main_layer .middle_layer{
    display: flex;
    justify-content: space-around;
    color: #fff;
}
.main_layer .middle_layer p , 
.main_layer .middle_layer .fa{
    font-size: 4.1rem;
    
/*visibility: hidden;*/
    font-weight: 900;
    color:aliceblue;

}
.fa{
    color: #0097e6;
}
sup{
    font-size: 3rem;
    margin-top: -2rem;
   
}

footer{
    width: 100%;
    background-color:#1e272e;
}
footer p{
    margin: 0%;
    text-align: center;
    color: #fff;
    line-height: 4rem;
    font-size: 1.4rem;
    margin-top: auto;
}

@media screen {
    .main_header_left{
        height: auto;
        justify-content: center;
    
      
    }
    .main_header_right{
        height: auto;
        justify-content: center;
    }
    .temp_form{
        width: 23rem;
        margin-top: 7rem;
    }
    body{
        height: 100%;
    }
    
    
}





